.background {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background-image: url("src/assets/background-pattern.svg");
    background-repeat: repeat;
    background-color: #f1f5f9;
    background-size: 100px;
}