button.button {
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  height: 2.5rem;
  transition: all 0.2s ease;
}

button.button-outlined {
  background-color: white;
  border: 1px solid #1e293b;
}

button.button-primary {
  background-color: var(--color-accent-600);
  color: white;
}

button.button-primary:disabled {
  background-color: var(--color-primary-200);
  color: var(--color-primary-400);
}

button.button-primary:enabled:hover {
  background-color: var(--color-accent-700);
}
