@import './tailwind.css';
@import './components/index.css';
@import './typography.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    'Nunito',
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Ubuntu;
  font-size: 16px;
  line-height: 1.5;
  @apply text-gray-800;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #9b9b9b;
  border: 4px solid transparent;
  height: 56px;
  width: 56px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 6px;
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat;
  background-position: right 5px top;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 20px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  filter: opacity(0.5);
}

@layer components {
  .shadow-light {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .container {
    @apply mx-auto max-w-[90%] md:max-w-[680px];
  }
}
