@import './tailwind.css';
@import './components/index.css';
@import './typography.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    'Nunito',
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Ubuntu;
  font-size: 16px;
  line-height: 1.5;
  @apply text-primary-800;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #9b9b9b;
  border: 4px solid transparent;
  height: 56px;
  width: 56px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 6px;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('/src//assets/icons/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: 1.5rem;
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

input[type='radio'] {
  @apply accent-primary-800;
}

@layer components {
  .shadow-light {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .container {
    @apply mx-auto max-w-[90%] md:max-w-[680px];
  }
}
