@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/Nunito-Bold.ttf') format('truetype');
}
