.table-container {
  overflow: auto;
  max-height: 700px;
}

.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  font-size: 1em;
  padding: 12px;
}

thead {
  @apply bg-gray-200;
}
